<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/cadastro" method="POST" >
        <input type="text" name="product_name" placeholder="Nome do produto">
        <input type="text" name="product_description" placeholder="Descrição do produto">
        <input type="text" name="category_id" placeholder="Categoria">
        <input type="text" name="supplier_id" placeholder="Fornecedor">
        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>